body {
    margin: 0;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    margin: 150px auto 0 auto;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #66BFBF;
    margin: 0;
}

p {
    font-family: "Roboto Slab", serif;
    margin: 0;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

#first-container {
    background-color: #dbf6e9;
    padding-top: 50px;
    /* height: calc(100vh - 50px); */
    position: relative;
}

.top-cloud {
    position: absolute;
    right: 30%;
}

.bottom-cloud {
    position: absolute;
    left: 30%;
}

#second-container {
    background-color: #FEFEFE;
}

hr {
    border: none;
    border-top: 10px dotted #EAF6F6;
    width: 5em;
    margin:20px auto 80px auto;
}

.profile {
    margin: 100px auto;
    width: 25%;
    line-height: 2;
}


#profile-img {
    margin: 0 auto 30px auto;
    width: 200px;
}

/* .skills h2 {
    margin-top: 100px;
} */

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.chicken-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.fish-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.contact-me {
    line-height: 2;
    width: 50%;
    margin: 0 auto 50px auto;
}

.btn {
    margin: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 500;
    padding: 5px 20px;
    background-color: #66BFBF;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    background: #1E62D0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

/* .skill-row p {
    text-align: left;
} */

#third-container {
    background-color: #66BFBF;
    margin: 0 auto;
    padding: 40px 0;
}

#third-container p {
    color: #EAF6F6;
    font-size: 0.8em;
    margin: 30px 0 0 0;
}

.footer-link {
    margin: 0 20px;
    font-weight: 500;
    text-decoration: none;
}

